@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/* You can add global styles to this file, and also import other style files */
body { 
  padding: 1vw; 
  font-family: 'Roboto', sans-serif; 
  background-color: #303030;
}